vendor
web/modules/contrib
web/profiles
web/core
web/sites
web/themes
web/README.md

.*
!.gitignore
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
#/.ht.router.php
LICENSE.txt
INSTALL.txt
README.txt
autoload.php
composer.lock
example.gitignore
index.php
robots.txt
update.php
web.config
composer.json